.svg_state{
    fill: #1212c7a8;
}
.svg_state:hover{
    fill:#2a2adf;
    cursor: pointer;
}


.svg_state_details{
    position: fixed;
    display: none;
    background-color: rgba(199, 16, 175, 0.849);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 3;
    font-size: .6em;
}